#define WIFI_SSID "Mi-WiFi"         // SSID de WiFi a donde se conecta el ESP.
#define WIFI_PASSWORD "Mi-Pass"     // Password del WiFi anterior.

#define TEMP_MOCK true    // FALSE, para usar un sensor de temp.; TRUE, para generar temp. aleatorias simuladas.

#define MQTT_BROKER_ADRESS "broker.mqtt.cool"
#define MQTT_PORT 1883
#define MQTT_CLIENT_NAME "ESP32Client_CursadaIoT"